/****************** Structure ******************/
/* ========= page ========= */
#page, #page_2cols, #page_1col, #enfants {
	/* annuler l'opacite a zero du head
  (qui masque le rendu casse en attendant la css) */
	filter:alpha(opacity=100)!important;opacity:1.0!important;
  margin:0 auto;
  padding:0 0 20px 0;
  min-width:996px;
  width:83em;
}

/* ========== Content ========== */
#content{ /* lot2 :update */
  clear:both;
	float:left;
	width:100%;
}
/* ========== Colonnes ==========*/
#col_centre{
	margin: 0 18.7em;
	padding-top:1em;
}
#col_gauche{
  float:left;
  width:15.5em;
	margin-left:-82.1em;
	padding-top:1em;
}
#col_droite{
  float:left;
  width:15.5em;
	margin-left:-16.4em;
	padding-top:1em;
}
#col_gauche_header, #col_center_header{
  position:relative;
  margin-bottom:8px;
  padding:7px 0 5px 0;
  min-height:8px;
  height:auto !important;
  height:8px;
}

#col_droite_header{
  position:relative;
  margin-bottom:8px;
  padding:7px 0 5px 0;
  min-height:60px;
  _height:60px
}

#col_center_header{
  margin:0 auto;
}
#page_1col #col_center_header{
  width:544px;
}
#page_2cols #col_center_header{
  margin:0;
}
#col_gauche, #col_droite{
  color:#333; /* gris fonc� */
}


/* ======== Chemin de fer ====== */
#cheminfer, #cheminfer *{
  margin:0;
  padding:0;
  list-style:none;
}
#cheminfer, #cheminfer ul{
  background:#E6E6E6 url(img/cheminfer_background.png) no-repeat left top; /*gris clair */
}
#cheminfer{
  padding:0 0 0 7px;
  margin:0 0 30px 0;
  min-width:539px;
  width:auto;
}
#page_1col #cheminfer{
  margin-left:auto;
  margin-right:auto;
  width:539px;
}
#cheminfer ul{
  min-height:14px;
  _height:14px;
  font-size:0.9em;
  background-position:right top;
}
#cheminfer li{
  display:inline;
  margin:0 5px 0 0;
  color:#000; /* noir */
}
#cheminfer a{
  vertical-align:top;
  text-decoration:none;
  color:#000; /* noir */
}
#cheminfer a:hover{
  text-decoration:underline;
}
#cheminfer .current{
  font-weight:bold;
}
/* ====== footer ======= */
/*
#footer{
	text-align:left;
	min-width:993px;
	width:993px;
	padding:0;
	background:#F0F0F0 url(img/bg_footer.png) no-repeat top left;
	margin:30px auto 0;
	padding-top:10px;
}
#footer .inside{
   background:url(img/bg_footer.png) no-repeat bottom left;
   padding:5px 20px 10px 20px;
}
body.adherents #footer{ background-image:url(img/bg_footer_adh.png);}
body.adherents #footer .inside{ background-image:url(img/bg_footer_adh.png);}
#page, #page_2cols, #page_1col, #enfants {
   padding-bottom:10px;
}
#footer dl{
	width:32%;
	float:left;
	margin:0;
}
#footer dl.last{
	width:30%;
	float:right;
	margin:0;
}

#footer dt{
	color:#CE9014;
	padding:0;
	margin:0 0 10px 0;
	font-weight:bold;
	margin-bottom:3px;
}
#footer dd{
	color:#CE9014;
	padding:0;
	margin:0;
	font-size:1em;
	margin-bottom:5px;
}
#footer dd a, #footer dd .nolink, .adherents #footer dd a, .adherents #footer dd .nolink{
	color:#606060;
	text-transform:none;
	font-weight:normal;
}
#footer dd a:hover, .adherents #footer dd a:hover{
	color:#606060;
	text-decoration:underline;
}*/
/* ======iFrameFooter ======= */
#iFrameFooter{
height:315px;
margin:20px auto 10px auto;
min-width:965px;
text-align:center;
clear:both;
border:0;
overflow:hidden;
}

/* ====== subfooter ======= */
#subfooter{
  margin:20px auto 10px auto;
  min-width:965px;
  text-align:center;
  clear:both;
}
#subfooter ul, #subfooter li{
  margin:0;
  padding:0;
  list-style:none;
}
#subfooter li{
  display:inline;
  margin:0 0 0 10px ;
  padding:0 0 0 10px;
  font-size:0.8em;
  white-space:nowrap;
  border-left:1px solid #666;  /* gris fonc� */
}
#subfooter li.first{
  margin:0;
  padding:0;
  border:0 !important;
}
#subfooter a{
  text-decoration:none;
  color:#666; /* gris fonc� */
  text-transform:uppercase;
  font-weight:bold
}
body.adherents #subfooter a{
  color:#666; /* gris tr�s fonc� */
}
#subfooter a:hover, body.adherents #subfooter a:hover{
  color:#000; /* noir */
}
#subfooter a.min{
  text-transform:none;
  font-weight:bold
  }

#stat {display:none;}

/* === Top Recherche === */

#topRecherche{margin-top:20px}

#topRecherche ul, #topRecherche li{
  margin:0;
  padding:0;
  list-style:none;
}
#topRecherche li{
  display:inline;
  margin:0 10px 0 0;
  font-size:12px;
}
#topRecherche li.medium{font-size:16px;}
#topRecherche li.big{font-size:20px;}
#topRecherche li a{color:#666;}