/* =========  navigation (menu N-2) ========== */
/*************
* titre au dessus des menus gauche
*************/
#titres{
  margin:0;
  padding:0;
}
#titres img{
  display:block;
}

#navigation, .navigation, body.enfants #navigation {
  font-size:0.9em;
}
#navigation dl,#navigation dt, #navigation dd {
  margin:0;
  padding:0;
}

#navigation {
  margin-top:7px;
}
/* on pose le cas ou la vignette livraison precede directement le menu gauche */
#col_gauche_header + #navigation * {
  padding:0 !important;
  margin:0 !important;
}
#navigation * + .navigation * {
  padding:0 !important;
  margin:0 !important;
}
#titres + #navigation {
  padding-top:0 !important;
  margin-top:0 !important;
}

#navigation {
	padding-bottom:12px;
	background: #ffffff url(http://s1.webperf-contest.com/4cc80752a91cc/css/img/spt-ong2-chaines-o-png8.png) no-repeat bottom right;
}

#navigation .box-border {
	border:1px solid #999;
	-moz-border-radius : 10px;
	-wekbit-border-radius : 10px;
	border-radius : 10px;
	padding:5px 0;
}

#navigation dl,#navigation ul, .navigation dl, .navigation ul {
  background:#FFF; /* blanc */
  padding:0 12px; /*lot2 :update */
  color:#000; /* noir */
}
#navigation .arboListe{
  padding:5px 0;
}

#navigation ul,.navigation ul{
  list-style-type:none;
}

#navigation dl a, #navigation ul a, .navigation dl a, .navigation ul a{
  color:#666; /* gris fonc� */
  text-decoration:none;
}
body.enfants #navigation dd a, body.enfants #navigation ul a {
 /*color:#fff; /* gris fonc� */
 text-decoration:none;
}
#navigation dl a:hover, #navigation li a:hover, .navigation dl a:hover, .navigation li a:hover, body.enfants #navigation dd a:hover, body.enfants #navigation  li a:hover {
  text-decoration:underline;
}
#navigation dl dt,.navigation dl dt{
  font-weight:bold;
  padding: 5px 0 6px 0;
  font-size:1.1em;
}
#navigation dl dd, #navigation ul li, .navigation dl dd, .navigation ul li{
  padding:2px 0;
}
#navigation dl .subcat, #navigation ul .subcat, .navigation dl .subcat, #navigation ul .subcat{
  color:#666;
  padding: 5px 0 3px 5px;
  font-size:1em;}

#navigation .blkGris, #navigation .blkOcre{
}

#navigation .blkGris .inside_block, #navigation .blkOcre .inside_block {
	-moz-border-radius : 7px;
	-wekbit-border-radius : 7px;
	border-radius : 7px;
	padding: 5px 0;
  margin: 0 5px;
}
 #navigation .blkGris .inside_block dl, #navigation .blkOcre .inside_block dl {
	border:0;
	background-color:Transparent;
	padding:0 5px 0 6px;
}

#navigation .blkGris .inside_block {
			background-color:#EAEAEA;
}

#navigation .blkOcre .inside_block {
			background-color:#FAF1DF;
}
/* liens Menu Marketing */
#lkActus dd{color:#000 !important;}
#lkBonPlans dd{color:#DE0000 !important;}
#lkPrefs dd{color:#DE9C00 !important;}
#lkActus a, #lkBonPlans a, #lkPrefs a{color:#666 !important;}
#lkActus .rouge, #lkBonPlans .rouge, #lkPrefs .rouge,
#lkActus .rouge a, #lkBonPlans .rouge a, #lkPrefs .rouge a{color:#DE0000 !important;}
