

/**********************
* Profil Mon compte
***********************/
/* tableau listing commandes*/

.grad {background:#fff url(img/gradiant_251-241.png) repeat-x left bottom; padding-bottom:10px}
.block .listcmd .blk_header, .block .listcmd .blk_header span {
  font-size:12px;
  text-align:left;
  color:#000;
  background-image:url(img/block_moutarde_header_grey_corners.png) ;
}
.block .listcmd .blk_header span {
  padding-left:10px
}
.listcmd .blk_inside .tl, .listcmd .blk_inside .tr, .listcmd .blk_inside .bl, .listcmd .blk_inside .br {
  background-image:url(img/block_gris_onEAEAEA_corners.png);
}
.listcmd table th, .factcmd table th{
  color:#666;
  font-weight:normal;
  font-size:1em;
  text-align:left;
  padding:7px 10px 7px 15px;
}
.listcmd table td, .factcmd table td{
  padding:7px 10px 7px 15px;
  vertical-align:top;
}
.listcmd table th, .factcmd table th, .listcmd table td, .factcmd table td{
  border-bottom:1px solid #C6C6C6; /* gris clair */
}
.listcmd .article_list ul{margin:0; padding:0}
.listcmd .article_list li{list-style-type:none;margin:0 0 5px 0;padding0}
.listcmd .article_list .nb_art{color:#DE9C00;font-weight:bold;float:left;display:block;width:8%}
.listcmd .article_list .title_art{float:left;display:block;width:90%}

.bg_bt {
  background-position:left top;
  padding-left:8px;
}
.autre-resultat {
  min-width:30px;
  width:11.5em;
  position:absolute;
  right:0;
  _margin-right:10px;
}
.retour {
  min-width:20px;
  width:5.5em;
  font-weight:normal;
}
.bg_bt div a {
  color:#000;
  text-decoration:none !important;
  padding:2px 0;
  display:block;
}
.retour div a {
  padding:3px 0;
}
.bg_bt div a:hover {
  text-decoration:none !important;
}
.bg_bt, .bg_bt div {
  background:transparent url(img/bt_retour_bg.png) no-repeat scroll;
}
.bg_bt div {
  background-position:right top;
}
hr.white {
  border:1px solid #fff;
}
.lks {
  margin:0;
  padding:0;
  list-style:none;
  border-top:1px solid #ccc;
}
.add {
  margin:0;
  padding: 0 0 10px 0;
}
.addressList {
  text-decoration:none !important;
}
.addressList:hover {
  text-decoration:underline !important;
}
