# [EN] perhaps you should use this file.. :)
# [FR] vous devriez peut etre utiliser ce fichier!

<FilesMatch "(index.*|engagements|index.ll|index.st|index_ie|footer.mini.ll).html$">
	Options +Includes
	SetOutputFilter INCLUDES
</FilesMatch>

<FilesMatch ".combined.(css|js)$">
	Options +Includes
	SetOutputFilter INCLUDES
</FilesMatch>

# Add Proper MIME-Type for Favicon
AddType image/x-icon .ico
AddType text/html .html
AddType text/html .mini.html
AddType text/html .mini.ll.html
AddType text/javascript .js
AddType text/javascript .minified.js
AddType text/javascript ll.minified.js

# Insert filter
SetOutputFilter DEFLATE

# Netscape 4.x has some problems...
BrowserMatch ^Mozilla/4 gzip-only-text/html

# Netscape 4.06-4.08 have some more problems
BrowserMatch ^Mozilla/4\.0[678] no-gzip

# MSIE masquerades as Netscape, but it is fine
# BrowserMatch \bMSIE !no-gzip !gzip-only-text/html

# NOTE: Due to a bug in mod_setenvif up to Apache 2.0.48
# the above regex won't work. You can use the following
# workaround to get the desired effect:
BrowserMatch \bMSI[E] !no-gzip !gzip-only-text/html

# Don't compress images
SetEnvIfNoCase Request_URI \.(?:gif|jpe?g|png)$ no-gzip dont-vary

# gzip compression.
<IfModule mod_deflate.c>
# html, txt, css, js, json, xml, htc:
  AddOutputFilterByType DEFLATE text/html
  AddOutputFilterByType DEFLATE text/plain text/css application/json
  AddOutputFilterByType DEFLATE text/javascript application/javascript application/x-javascript
  AddOutputFilterByType DEFLATE text/xml application/xml text/x-component

# webfonts and svg:
  <FilesMatch "\.(ttf|otf|eot|svg)$" >
    SetOutputFilter DEFLATE
  </FilesMatch>
</IfModule>


RewriteEngine  on
#RewriteRule    MarketPlace/([0-9].*)$  http://www4.fnac.com/MarketPlace/SummaryOfferLine.aspx?Ref=FnacDirect&tagmode=any&PRID=$1  [P]
#RewriteRule    MarketPlace/([0-9]*).html$  http://www4.fnac.com/MarketPlace/SummaryOfferLine.aspx?Ref=FnacDirect&tagmode=any&PRID=$1  [P]
#RewriteRule    MarketPlace/([0-9]*)$  http://www4.fnac.com/MarketPlace/SummaryOfferLine.aspx?Ref=FnacDirect&tagmode=any&PRID=$1  [P]
#RewriteRule    MarketPlace/(.*)$  http://yterium.net/wpo/proxy.php$1  [P]
RewriteRule    MarketPlace/(.*)$  http://entries.webperf-contest.com/4cc80752a91cc/marketplace.js  [P]


# Expiration des pages :
#<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType image/gif A2600000
ExpiresByType image/png A2600000
ExpiresByType image/jpeg A2600000
ExpiresByType text/javascript A2600000
ExpiresByType application/javascript A2600000
ExpiresByType application/x-javascript A2600000
ExpiresByType image/ico A2600000
ExpiresByType image/icon A2600000
ExpiresByType image/x-icon A2600000
ExpiresByType text/css A2600000
ExpiresByType application/x-httpd-php A14400
ExpiresByType text/html "modification plus 1 seconds"
#</IfModule>


#Header unset Cookie
#Header unset Set-Cookie
#RequestHeader unset Cookie

<FilesMatch "\.(ico|gif|jpg|jpeg|png|flv|pdf|mp3|wav|js|css|kml|xml)$">
Header always unset Set-Cookie
Header unset ETag
FileETag None
</FilesMatch>

#Header set Set-Cookie "s_ev14=1; expires=Wed, 1-Sep-2010 12:34:56 GMT; path=/;domain=.webperf-contest.com"
#Header set Set-Cookie "s_ev14=1; expires=Wed, 1-Sep-2010 12:34:56 GMT; path=/;domain=webperf-contest.com"
#Header set Set-Cookie "s_ev14=1; expires=Wed, 1-Sep-2010 12:34:56 GMT; path=/;domain=entries.webperf-contest.com"
#Header set Set-Cookie "s_ev14=1; expires=Wed, 1-Sep-2010 12:34:56 GMT; path=/;domain=.entries.webperf-contest.com"
#Header set Set-Cookie "s_sq=1; expires=Wed, 1-Sep-2010 12:34:56 GMT; path=/;domain=.webperf-contest.com"
#Header set Set-Cookie "campaign=1; expires=Wed, 1-Sep-2010 12:34:56 GMT; path=/;domain=.webperf-contest.com"
#Header set Set-Cookie "s_cc=1; expires=Wed, 1-Sep-2010 12:34:56 GMT; path=/;domain=.webperf-contest.com"
#Header set Set-Cookie "TTL=1; expires=Wed, 1-Sep-2010 12:34:56 GMT; path=/;domain=.webperf-contest.com"
#Header set Set-Cookie "SID=1; expires=Wed, 1-Sep-2010 12:34:56 GMT; path=/;domain=.webperf-contest.com"
#Header set Set-Cookie "UID=1; expires=Wed, 1-Sep-2010 12:34:56 GMT; path=/;domain=.webperf-contest.com"
#Header set Set-Cookie "accept=1; expires=Wed, 1-Sep-2010 12:34:56 GMT; path=/;domain=.webperf-contest.com"
#Header set Set-Cookie "OrderInSession=1; expires=Wed, 1-Sep-2010 12:34:56 GMT; path=/;domain=.webperf-contest.com"
#Header set Set-Cookie "TEST=1; expires=Wed, 1-Sep-2010 12:34:56 GMT; path=/;domain=.webperf-contest.com"
#Header set Set-Cookie "s_cpc=1; expires=Wed, 1-Sep-2010 12:34:56 GMT; path=/;domain=.webperf-contest.com"
