# [EN] perhaps you should use this file.. :)
# [FR] vous devriez peut etre utiliser ce fichier!

<FilesMatch "index.html$">
	Options +Includes
	SetOutputFilter INCLUDES
</FilesMatch>

<FilesMatch ".combined.(css|js)$">
	Options +Includes
	SetOutputFilter INCLUDES
</FilesMatch>


# gzip compression.
<IfModule mod_deflate.c>
# html, txt, css, js, json, xml, htc:
  AddOutputFilterByType DEFLATE text/html text/plain text/css application/json
  AddOutputFilterByType DEFLATE text/javascript application/javascript application/x-javascript
  AddOutputFilterByType DEFLATE text/xml application/xml text/x-component

# webfonts and svg:
  <FilesMatch "\.(ttf|otf|eot|svg)$" >
    SetOutputFilter DEFLATE
  </FilesMatch>
</IfModule>