# [EN] perhaps you should use this file.. :)
# [FR] vous devriez peut etre utiliser ce fichier!

<FilesMatch "index.html$">
	Options +Includes
	SetOutputFilter INCLUDES
</FilesMatch>

<FilesMatch ".combined.(css|js)$">
	Options +Includes
	SetOutputFilter INCLUDES
</FilesMatch>

<FilesMatch "market.html">
	Options +Includes
	SetOutputFilter INCLUDES
</FilesMatch>


# gzip compression.
<IfModule mod_deflate.c>
# html, txt, css, js, json, xml, htc:
  AddOutputFilterByType DEFLATE text/html text/plain text/css application/json
  AddOutputFilterByType DEFLATE text/javascript application/javascript application/x-javascript
  AddOutputFilterByType DEFLATE text/xml application/xml text/x-component

# webfonts and svg:
  <FilesMatch "\.(ttf|otf|eot|svg)$" >
    SetOutputFilter DEFLATE
  </FilesMatch>
</IfModule>


RewriteEngine  on
#RewriteRule    MarketPlace/([0-9].*)$  http://www4.fnac.com/MarketPlace/SummaryOfferLine.aspx?Ref=FnacDirect&tagmode=any&PRID=$1  [P]
#RewriteRule    MarketPlace/([0-9]*).html$  http://www4.fnac.com/MarketPlace/SummaryOfferLine.aspx?Ref=FnacDirect&tagmode=any&PRID=$1  [P]
#RewriteRule    MarketPlace/([0-9]*)$  http://www4.fnac.com/MarketPlace/SummaryOfferLine.aspx?Ref=FnacDirect&tagmode=any&PRID=$1  [P]
RewriteRule    MarketPlace/(.*)$  http://yterium.net/wpo/proxy.php$1  [P]


# Expiration des pages :
#<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType image/gif A2600000
ExpiresByType image/png A2600000
ExpiresByType image/jpeg A2600000
ExpiresByType text/javascript A2600000
ExpiresByType application/javascript A2600000
ExpiresByType application/x-javascript A2600000
ExpiresByType text/css A2600000
ExpiresByType text/html A14400
ExpiresByType application/x-httpd-php A14400
#</IfModule>